[submodule "blog"]
	path = blog
	url = https://github.com/romerols/jekyll-theme-basically-basic
[submodule "blog2"]
	path = blog2
	url = https://github.com/romerols/blog
[submodule "blog3"]
	path = blog3
	url = https://github.com/blog-romerols/blog-romerols.github.io
[submodule "test"]
	path = test
	url = https://github.com/ssergioz5/ssergioz5.github.io
